@import url('https://fonts.googleapis.com/css2?family=Poly&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poly&display=swap');

* {
    padding: 0;
    margin: 0;
}

main {
    font-family: 'Oxygen';
}

h1 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 30px;
}

li {
    font-size: 19.2px;
    font-weight: 400;
}

nav {
    font-family: 'Poly';
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    padding: 25px 100px;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
}

nav img {
    height: 50px;
    width: 50px;
    padding-left: 40px;
}

.sec-hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #E5E5E5;
}

.sec-hero img {
    padding-right: 67px;
    height: 664px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sec-hero button,
.total button {
    background-color: #F9A825;
    margin-top: 50px;
}

.sec-chat button {
    background-color: #000000;
    margin-top: 50px;
}

button {
    padding: 20px 55px;
    border: none;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

/* form */
.search-form {
    display: flex;
}

.search-input {
    border-color: #ffffff;
    color: white;
    padding: 8px;
    background-color: black;
}

.search-button {
    position: relative;
    /* display: flex; */
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.search-button img {
    position: relative;
    width: 20px;
    height: auto;
}

/* section product */
.display-product {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.card-product {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    padding: 30px 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    cursor: pointer;
}

.card-product h3,
p,
.card-product img {
    padding-bottom: 20px;
}

.card-product>h2 {
    color: #F9A825;
    font-size: 24px;
    font-weight: 700;
}

.card-product h3{
    font-size: 24px;
    font-weight: 700;
}

.card-product p{
    font-size: 16px;
    font-weight: 300;
}

.sec-main h1 {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
}

.sec-main>p {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 300;
}

.list-oc {
    display: flex;
    justify-content: center;
}

.list-oc img {
    padding: 0px 5px;
}

.sec-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9A825;
    margin: 150px 98px;
    padding: 100px;
}

.sec-chat p {
    width: 650px;
    font-size:24px;
    font-weight: 400;
    height: 90px;
}

/* footer */
footer {
    background-color: #000000;
    display: flex;
    color: #FFFFFF;
    padding: 80px 100px;
    justify-content: space-between;
    align-items: center;
}

footer p {
    width: 480px;
}

.ft-right h3{
    font-family: 'Poly';
    font-size: 32px;
    padding-bottom: 20px;
}

.ft-right p{
    font-family: 'Oxygen';
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 20px;
}

.ft-left {
    display: flex;
    flex-direction: row;
}

.ft-left>div>h3 {
    padding: 0px 20px;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 24px;
}

/* tambahan page 2 */
.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 70px 147px;
}

.choose-sz {
    padding: 10px;
}

.choose-sz input {
    padding-right: 10px;
}

.total h3{
    font-size:64px;
    font-weight: 700;
}
.detail-desc{
    margin: 0px 122px;
}
.detail-desc p, li{
    font-size: 24px;
    font-weight: 400;
}
.detail-desc h2{
    font-size: 32px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 25px;
}
.detail-img{
    width: 100vw;
    height: 550px;
    background-color: #F9A825;
    text-align: center;
    margin-bottom: 20%;
}

.detail-img img {
    align-items: center;
    margin-top: 10%;
}