@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

body{
    background-image: url(assets/Background.png);
    height: 100%;
}

ul{
    list-style: none;
}

li{
    display: inline;
}

a{
    text-decoration: none;
    padding-right: 45px;
    font-size: 25px;
    font-weight: 400;
    color: #212121;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    margin: 35px 134px 41px 133px;
}

.hero{
    align-items: center;
}

.sec-row.hero{
    justify-content: space-between;
    padding: 0px 135px;
    padding-bottom: 118px;
}

.sec-row.contact{
    justify-content: space-between;
    margin: 0px 150px;
}


h1{
    font-size: 50px;
    font-weight: 600;
    color: #002265;
    letter-spacing: 0.5px;
}

.hi{
    font-size: 35px;
    font-weight: 400;
}

.hero p{
    font-weight: 400;
    font-size: 23px;
    width: 590px;
    color: #082032;
    letter-spacing: 1.5px;
    padding-top: 32px;
    line-height: 34.5px;
}

.card-passion p{
    color: #000000;
    line-height: 27px;
    font-size: 18px;
    letter-spacing: 5.5px;
}

/* overlay img contact */
.g-contact{
    position: relative;
    padding: 0px 30px;
}

.o-img{
    position: absolute;
    top: 20%;
    left: 30%;
}

.sec-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 168px;
}

footer>img{
    display: block;
    width: 100vw;
}

h2{
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    color: #14279B;
    letter-spacing: 5.5px;
}

h2>span{
    font-weight: 600;
    color: #002265;
}

h3{
    color: #002265;
    font-size: 25px;
    font-weight: 700;
}

.card-passion h3{
    color:#000000;
    font-weight: 400;
    /* letter-spacing: 5.5px; */
    line-height: 37.5px;
}

.card-passion h3 span{
    font-weight: 600;
}

button{
    border: none;
    padding: 10px 18px;
    color: #FFFFFF;
    background-color: #608AF5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.17);
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
}

.desc-contact h2{
    padding-top: 30px;
}

/* card passion */
.card-passion{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 25px;
    height: 280px;
    width: 347px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    padding: 13px;
}

.desc-contact h2{
    color: #3F3D56;
    font-weight: 500;
}

